In [2]:
import pandas as pd
import numpy as np

In [4]:
trans = pd.read_csv('Transactions-Table 1.csv')

In [5]:
trans.head(3)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,1,2,2950,2/25/17,False,Approved,Solex,Standard,medium,medium,71.49,US$ 53.62,41245.0,NaN,NaN,NaN,NaN,NaN
1,2,3,3120,5/21/17,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,US$ 388.92,41701.0,NaN,NaN,NaN,NaN,NaN
2,3,37,402,10/16/17,False,Approved,OHM Cycles,Standard,low,medium,1793.43,US$ 248.82,36361.0,NaN,NaN,NaN,NaN,NaN

In [9]:
tarns = trans.drop(columns=["transaction_id","Unnamed: 13","Unnamed: 14","Unnamed: 15","Unnamed: 16",
                           "Unnamed: 17"],inplace=True)

In [10]:
trans.isnull().sum()

product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [11]:
trans.online_order.unique()

array([False, True, nan], dtype=object)

In [12]:
trans['online_order'] = trans['online_order'].fillna(0)

In [13]:
trans.brand .unique()

array(['Solex', 'Trek Bicycles', 'OHM Cycles', 'Norco Bicycles',
       'Giant Bicycles', 'WeareA2B', nan], dtype=object)

In [14]:
trans['brand'] = trans['brand'].fillna(0)

In [15]:
trans.product_line.unique()

array(['Standard', 'Road', 'Mountain', 'Touring', nan], dtype=object)

In [16]:
trans['product_line'] = trans['product_line'].fillna(0)

In [17]:
trans.product_class.unique()

array(['medium', 'low', 'high', nan], dtype=object)

In [18]:
trans['product_class'] = trans['product_class'].fillna(0)

In [19]:
trans.product_size.unique()

array(['medium', 'large', 'small', nan], dtype=object)

In [20]:
trans['product_size'] = trans['product_size'].fillna(0)

In [21]:
trans['standard_cost'] = trans['standard_cost'].fillna(0)

In [22]:
trans['product_first_sold_date'] = trans['product_first_sold_date'].fillna(0)

In [23]:
#trans.isnull().sum()

product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [24]:
trans.sort_values(by=['transaction_date'], inplace=True)

In [25]:
trans.tail(3)

,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
6426,20,2249,9/9/17,True,Approved,Trek Bicycles,Standard,medium,small,1775.81,"US$ 1,580.47",40303.0
412,60,720,9/9/17,False,Approved,Giant Bicycles,Standard,high,small,1977.36,"US$ 1,759.85",41848.0
1428,93,2667,9/9/17,False,Approved,WeareA2B,Standard,medium,medium,1065.03,US$ 230.09,41434.0

In [26]:
trans.product_id.unique()

array([ 87,  36,  85,  43,   3,  32,  78,   0,  74,  11,  59,   4,  50,
        35,  58,  94,  48,  27,  57,  77,  53,  18,  96,  24,  40,  63,
        28,  51,  46,  62,  17,  38,  67,  12,  19,  65,  64,  61,  22,
        71,  92,  89,  75,  60,  72,  52,  42,   5,   2,   9,  82,  39,
        37,  29,  34,  98,   7,  47, 100,  80,  33,  41,  20,  97,  15,
         1,  88,  21,  14,  90,  73,  10,  44,  84,  81,  68,  86,  66,
        54,  26,  83,  56,  31,  76,  95,   8,  79,  30,  23,  49,  91,
        13,   6,  16,  45,  99,  69,  93,  55,  70,  25])

In [28]:
trans.to_csv('cleaned_trans.csv')