In [3]:
import pandas as pd
import numpy as np

In [4]:
cus_list = pd.read_csv('CustomerList-Table 1.csv')

In [5]:
cus_list.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6.0,0.69,0.8625,1.078125,0.916406,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11.0,0.60,0.6000,0.750000,0.637500,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5.0,1.06,1.0600,1.060000,1.060000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1.0,1.00,1.2500,1.250000,1.250000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9.0,0.59,0.5900,0.737500,0.737500,4,4,1.703125

In [6]:
#cus_list.isnull().sum()

In [7]:
cus_list=cus_list.drop(columns=['Unnamed: 20'])

In [8]:
cus_list['last_name'] = cus_list['last_name'].fillna(0)

In [9]:
#cus_list['DOB'] = cus_list['DOB'].fillna(0)

In [10]:
cus_list['job_title'] = cus_list['job_title'].fillna(0)

In [11]:
cus_list['job_industry_category'] = cus_list['job_industry_category'].fillna(0)

In [13]:
cus_list.dtypes

first_name                              object
last_name                               object
gender                                  object
past_3_years_bike_related_purchases      int64
DOB                                     object
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
owns_car                                object
tenure                                   int64
address                                 object
postcode                                 int64
state                                   object
country                                 object
property_valuation                     float64
Unnamed: 16                            float64
Unnamed: 17                            float64
Unnamed: 18                            float64
Unnamed: 19                            float64
Rank                                     int64
Value                                  float64
dtype: object

In [14]:
cus_list.sort_values(by=['DOB'], inplace=True)

In [15]:
cus_list.head(3)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,postcode,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Rank,Value
797,Anthony,Morison,Male,7,1938-06-08,General Manager,Health,Mass Customer,N,No,...,2759,NSW,Australia,9.0,1.01,1.0100,1.262500,1.073125,797,0.60000
885,Zachariah,Meininking,Male,40,1938-06-09,Cost Accountant,Financial Services,Affluent Customer,N,Yes,...,2749,NSW,Australia,7.0,0.41,0.5125,0.512500,0.512500,883,0.53125
769,Andrea,Pendle,Female,86,1938-08-05,0,0,High Net Worth,N,Yes,...,4500,QLD,Australia,6.0,0.73,0.9125,1.140625,1.140625,760,0.63750

In [16]:
cus_list['DOB'] = cus_list['DOB'].fillna(0)

In [17]:
cus_list.gender.unique()

array(['Male', 'Female', 'U'], dtype=object)

In [18]:
cus_list['gender'] = cus_list['gender'].replace(['U'],
                                              ['Undefined'])

In [19]:
cus_list.state.unique()

array(['NSW', 'QLD', 'VIC'], dtype=object)

In [26]:
cus_list.deceased_indicator.unique()

array(['N'], dtype=object)

In [21]:
cus_list.wealth_segment.unique()

array(['Mass Customer', 'Affluent Customer', 'High Net Worth'],
      dtype=object)

In [22]:
cus_list=cus_list.drop(columns=['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19'])

In [24]:
cus_list.head(2)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
797,Anthony,Morison,Male,7,1938-06-08,General Manager,Health,Mass Customer,N,No,12,276 Derek Circle,2759,NSW,Australia,9.0,797,0.60000
885,Zachariah,Meininking,Male,40,1938-06-09,Cost Accountant,Financial Services,Affluent Customer,N,Yes,20,24815 Lindbergh Avenue,2749,NSW,Australia,7.0,883,0.53125

In [27]:
cus_list.to_csv('cleaned_cus_list.csv')