# CUSTOMER ADDRESS

In [1]:
import pandas as pd
import numpy as np

In [2]:
cus_add = pd.read_csv("CustomerAddress-Table 1.csv")

In [3]:
cus_add.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [4]:
cus_add.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [5]:
cus_add.describe()

       customer_id     postcode  property_valuation
count  3999.000000  3999.000000         3999.000000
mean   2003.987997  2985.755939            7.514379
std    1154.576912   844.878364            2.824663
min       1.000000  2000.000000            1.000000
25%    1004.500000  2200.000000            6.000000
50%    2004.000000  2768.000000            8.000000
75%    3003.500000  3750.000000           10.000000
max    4003.000000  4883.000000           12.000000

In [6]:
cus_add.drop(columns=['customer_id'],inplace=True)

In [7]:
cus_add.head(3)

,address,postcode,state,country,property_valuation
0,060 Morning Avenue,2016,New South Wales,Australia,10
1,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,0 Holy Cross Court,4211,QLD,Australia,9

In [8]:
cus_add.sort_values(by=['property_valuation'], inplace=True)

In [9]:
#cus_add.tail(3)
cus_add.head(3)

                  address  postcode state    country  property_valuation
1999  32 Sutteridge Trail      2470   NSW  Australia                   1
3529      3605 Vidon Hill      3305   VIC  Australia                   1
134   215 Lindbergh Trail      4401   QLD  Australia                   1

In [10]:
cus_add[cus_add["property_valuation"] == 12]

,address,postcode,state,country,property_valuation
2165,5 Muir Circle,2030,NSW,Australia,12
3169,040 Brown Trail,2040,NSW,Australia,12
3895,14 Bunting Alley,2073,NSW,Australia,12
15,092 2nd Alley,2135,New South Wales,Australia,12
2112,556 Esch Street,2090,NSW,Australia,12
...,...,...,...,...,...
3804,045 Debs Pass,3145,VIC,Australia,12
106,7342 Fieldstone Junction,2093,New South Wales,Australia,12
2804,46 Independence Parkway,3065,VIC,Australia,12
102,01 Muir Parkway,2096,New South Wales,Australia,12
2076,2444 Aberg Hill,2067,NSW,Australia,12

In [12]:
cus_add.columns

Index(['address', 'postcode', 'state', 'country', 'property_valuation'], dtype='object')

In [13]:
cus_add.state.unique()

array(['NSW', 'VIC', 'QLD', 'Victoria', 'New South Wales'], dtype=object)

In [14]:
cus_add['state'] = cus_add['state'].replace(['NSW','VIC','QLD'],
                                              ['New South Wales','Victoria','Queensland'])

In [16]:
cus_add.state.unique()

array(['New South Wales', 'Victoria', 'Queensland'], dtype=object)