In [1]:
import pandas as pd
import numpy as np

In [2]:
cus_demo = pd.read_csv("CustomerDemographic-Table 1.csv")

In [3]:
cus_demo.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,1-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [4]:
cus_demo=cus_demo.drop(columns=['customer_id','default'])

In [5]:
cus_demo.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure'],
      dtype='object')

In [6]:
cus_demo.isnull().sum()

first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

In [7]:
cus_demo.shape

(4000, 11)

In [8]:
cus_demo.deceased_indicator.unique()

array(['N', 'Y'], dtype=object)

In [9]:
cus_demo.owns_car.unique()

array(['Yes', 'No'], dtype=object)

In [10]:
cus_demo.tenure.unique()

array([11., 16., 15.,  7.,  8., 13., 20.,  9.,  6.,  1., 18., 21., 12.,
       19., 14.,  4., 22.,  5., 17.,  2.,  3., 10., nan])

In [11]:
cus_demo['tenure'] = cus_demo['tenure'].fillna(0)

In [12]:
cus_demo['last_name'] = cus_demo['last_name'].fillna(0)

In [13]:
cus_demo.sort_values(by=['DOB'], inplace=True)

In [14]:
cus_demo['DOB'] = cus_demo['DOB'].fillna(0)

In [15]:
cus_demo.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
33,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20.0
719,Darrel,Canet,Male,67,1931-10-23,Recruiting Manager,Retail,Affluent Customer,N,No,6.0
1091,Katlin,Creddon,Female,56,1935-08-22,VP Quality Control,Retail,Mass Customer,N,No,5.0
3409,Merrili,Brittin,Female,93,1940-09-22,NaN,Property,Mass Customer,N,No,16.0
2412,Abbey,Murrow,Male,27,1943-08-11,Environmental Specialist,Manufacturing,High Net Worth,N,Yes,17.0

In [16]:
#cus_demo.isnull().sum()

In [17]:
cus_demo['job_title'] = cus_demo['job_title'].fillna(0)

In [18]:
cus_demo['job_industry_category'] = cus_demo['job_industry_category'].fillna(0)

In [30]:
cus_demo.isnull().sum()

first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
dtype: int64

In [20]:
#cus_demo.gender.unique()

array(['U', 'Male', 'Female', 'F', 'Femal', 'M'], dtype=object)

In [21]:
cus_demo['gender'] = cus_demo['gender'].replace(['U','F','M'],
                                              ['Undefined','Female','Male'])

In [22]:
#cus_demo.gender.unique()

array(['Undefined', 'Male', 'Female', 'Femal'], dtype=object)

In [23]:
cus_demo['gender'] = cus_demo['gender'].replace(['Femal'],
                                              ['Female'])

In [24]:
cus_demo.gender.unique()

array(['Undefined', 'Male', 'Female'], dtype=object)

In [29]:
cus_demo.wealth_segment.unique( )

array(['Affluent Customer', 'Mass Customer', 'High Net Worth'],
      dtype=object)

In [31]:
cus_demo.to_csv('cleaned_cus_demo.csv')